<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tatans.rhea.countdowntimer"
    android:versionCode="1512311333"
    android:versionName="1.0.1512311333">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CountDownApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountDownTimerActivity"
            android:screenOrientation="portrait"
            android:label="@string/countdown" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CountDownSettingActivity"
            android:label="@string/countdown_set"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.tatans.rhea.lock.countDownTime.first"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IntervalSettingActivity"
            android:label="@string/interval_set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomActivity"
            android:label="@string/custom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModelActivity"
            android:label="@string/model_set"
            android:screenOrientation="portrait" />

        <service android:name=".CountDownService" />
        <receiver android:name=".LockReceiver">
            <intent-filter>
                <action android:name="net.tatans.rhea.lock.countDownTime.start" />
                <action android:name="net.tatans.rhea.lock.countDownTime.pause" />
                <action android:name="net.tatans.rhea.lock.countDownTime.restart" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
